body {
  font-family: 'Poppins';font-size: 16px;
  height: 100vh;
  padding: 3vh 0;
  background: linear-gradient(var(--wa-gradient-green) 15%, var(--wa-gradient-light) 10%);
  overflow: hidden;
}

:root {
  --wa-gradient-green: #009688;
  --wa-gradient-light: #dbdbd3;
  --wa-container-light: #ffffff;
  --wa-header-icon: #b1b1b1;
  --wa-header-bg: #eaeaea;
  --wa-silent-mode: #8edafc;
  --wa-message-sent: #d5f9ba;

}

/* #region Utilities */
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.users::-webkit-scrollbar,
.contacts_message main::-webkit-scrollbar {
  width: 3px;
}

.users::-webkit-scrollbar-track,
.contacts_message main::-webkit-scrollbar-track {
  background-color: var(--wa-container-light);
}

.users::-webkit-scrollbar-thumb,
.contacts_message main::-webkit-scrollbar-thumb {
  background-color: var(--wa-header-icon);
  border-radius: 25px;
}

/* #endregion Utilities */

/* #region Header profile */

.my_container {
  max-width: 1300px;
  width: 80%;
  margin: 0 auto;
  background-color: var(--wa-container-light);
  height: calc(100vh - 6vh);
  box-shadow: -2px 2px 20px -4px var(--wa-header-icon);
  display: flex;
  border-radius: 20px;
}

.banner_left_contacts {
  width: 40%;
  height: 100%;
}

.user_profile h5 {
  margin-bottom: -0.8px;
}

.user_profile img {
  width: 40px;
  border-radius: 50%;
  aspect-ratio: 1;
  margin-right: 5px;

}

.dark_mode i {
  color: var(--wa-header-icon);
}

.hide_moon {
  display: none;
}

.banner_left_contacts header button {
  background-color: var(--wa-header-bg);
}

.show_sun {
  display: block;
  color: var(--wa-header-icon);
  background-color: var(--wa-header-bg);
}


.nav_profile i {
  text-decoration: none;
  color: var(--wa-header-icon);
}



.banner_left_contacts header {
  height: 70px;
  background-color: var(--wa-header-bg);
  border-radius: 20px 0 0 0;
}

/* #endregion Header profile */


.banner_left_contacts main {
  height: calc(100% - 70px);
}

/* #region silent mode */
.silent_mode {
  background-color: var(--wa-silent-mode);
  height: 80px;
}

.circle_silent_mode {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: var(--wa-container-light);
  color: var(--wa-silent-mode);
}

.silent_mode h6 {
  margin-bottom: -0.2rem;
}

/* #endregion silent mode */


/* #region search group */
.search_group {
  height: 50px;
}

.search_group>span {
  background-color: var(--wa-container-light);
}

.search_group i {
  color: var(--wa-header-icon);
}

/* #endregion search group */

/* #region users_contacts */
.users {
  height: calc(100% - 130px);
  overflow-y: auto;
  border-radius: 0 0 0 20px;
}


.users li {
  background-color: var(--wa-container-light);
}

.users div:hover {
  background-color: var(--wa-header-bg);
}

.user_name {
  font-size: 14px;
}

.user_hour {
  margin-right: 5px;
}

.hour_message {
  font-size: 11px;
  color: var(--wa-header-icon);
}

.last_message_sent {
  font-size: 12px;
  color: var(--wa-header-icon);
  width: 154px;
}

/* #endregion users_contacts */
.contacts_message .user_profile h5 {
  margin-bottom: -8.8px;
}

.contacts_message header {
  height: 70px;
  background-color: var(--wa-header-bg);
  border-left: 1px solid var(--wa-header-icon);
  border-radius: 0 20px 0 0;
}


.contacts_message main {
  background-image: url(../img/mine.jpg);
  height: calc(100% - 140px);
  overflow-y: auto;
}

.messages {
  flex-shrink: 0;
  padding: 6px 1rem;
}

.message {
  display: flex;
  align-items: center;
  width: 45%;
  min-height: 50px;
  padding: 0 0.25rem 0 1rem;
  border-radius: 10px;
  margin: 10px 5px;
  position: relative;
  background-color: var(--wa-container-light);
  box-shadow: -2px 2px 10px -4px var(--wa-header-icon);
}

.message p {
  width: 95%;
  margin: 15px auto;
  height: 80%;
}

.message .hour_message span {
  position: absolute;
  right: 6px;
  bottom: 1px;
}

.message i{
  font-size: 14px;
  color: var(--wa-header-icon);
}

.sent {
  margin-left: auto;
  background-color: var(--wa-message-sent);
}

.delete_message{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50%;
    text-align: center;
    box-shadow: -2px 2px 5px 0 var(--wa-container-light);
    background-color: var(--wa-header-bg);
    font-size:  14px;
    padding: 10px 0px;
    border-radius: 3px;
}

/* #region Footer */

footer {
  height: 70px;
  border-left: 1px solid var(--wa-header-icon);
  border-radius: 0 0 20px 0;
  background-color: var(--wa-header-bg);
}

footer input {
  margin: 0 1rem;
}

/* #region Footer */

