body{
  height: 100vh;
  background: linear-gradient(var(--wa-gradient-green) 15%, var(--wa-gradient-light) 10% );
  overflow: hidden;
}

:root {
  --wa-gradient-green: #009688;
  --wa-gradient-light: #dbdbd3;
  --wa-container-light: #ffffff;
  --wa-header-icon: #b1b1b1;
  --wa-header-bg: #eaeaea;
  --wa-silent-mode: #8edafc;

}

/* #region Utilities */
.circle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* #endregion Utilities */

/* #region Header profile */

.my_container{
  max-width: 1200px;
  width: 80%;
  margin: 1.5rem auto;
  background-color: var(--wa-container-light);
  height: calc(100vh - 3rem);
}

.banner_left_contacts{
  width: 40%;
}

.user_profile h5{
  margin-bottom: -0.8px;
}

.user_profile img {
  width: 40px;
  border-radius: 50%;
  aspect-ratio: 1;
  margin-right: 5px;
  
}

.nav_profile i {
  text-decoration: none;
  color: var(--wa-header-icon);
}

.banner_left_contacts header{
  background-color: var(--wa-header-bg);
}

/* #endregion Header profile */


/* #region silent mode */
.silent_mode{
  background-color: var(--wa-silent-mode);
}

.circle_silent_mode{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--wa-container-light);
  color: var(--wa-silent-mode);
}

.silent_mode h6{
  margin-bottom: -0.2rem;
}
/* #endregion silent mode */


/* #region search group */
.search_group  i {
  color: var(--wa-header-icon);
}
/* #endregion search group */
.user_name{
  font-size: 14px;
}

.hour_message{
  font-size: 10px;
  color: var(--wa-header-icon);
}

.last_message_sent{
  font-size: 10px;
  color: var(--wa-header-icon);
}
